.props{
    text-align: left;
    text-shadow: 0px 2px 0.8px rgb(29, 28, 28);
    font-size: 20px;

}
.props p{
    font-family: 'Courier New', Courier, monospace;
}
.props button{
    text-shadow: 0px 2px 0.8px rgb(235, 230, 228);

}